* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1800px;
    margin: auto;
   
}
header {
    background: url(../asset/background/background4.jpeg);
    height: 100vh;
    -webkit-background-size:cover ;
    background-size: cover;
    background-position: center;
    position: relative;
}
.nav-area {
    float:right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li {
    display: inline-block;
    font-size: large;
    text-align: right;
}
.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.nav-area li a:hover {
    background: #fff;
    color: #333; 
}
.logo img {
    width: 400px;
    float:left;
    height:auto;
}
.welcome-text {
    position:absolute;
    width: 600px;
    height: 300px;
    margin: 30% 40%;
    text-align: center;
}
.welcome-text h1 {
    text-align: center;
    color:yellowgreen;
    text-transform: uppercase;
    font-size: 60px;
}
.welcome-text a {
    border: 1px solid blue;
    padding: 10px 25px;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 30px;
    display: inline-block;
    color: #fff;
}
.welcome-text a:hover {
    background: #fff;
    color: #333;
}
.footer {
    text-align: center;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  .fa-dribbble {
    background: #ea4c89;
    color: white;
}
.fa-pinterest {
    background: #cb2027;
    color: white;
}
